<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Students.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Students.Properties.Settings>
            <setting name="LocalDir" serializeAs="String">
                <value>..\Data</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value>Students</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>..\Data\Backup</value>
            </setting>
            <setting name="BackupLimit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CloudType" serializeAs="String">
                <value>Dir</value>
            </setting>
            <setting name="CloudLocation" serializeAs="String">
                <value>C:\Users\Sasha\Documents\Visual Studio 2015\Projects\Students\Students\bin\Remote</value>
            </setting>
        </Students.Properties.Settings>
    </applicationSettings>
</configuration>